<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cattaka.android.humitemp4ble"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="net.cattaka.android.humitemp4ble.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.android.future.usb.accessory" />

        <activity android:name="net.cattaka.android.humitemp4ble.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <service
            android:name="net.cattaka.android.humitemp4ble.HumiTempService"
            android:exported="false"
            >
        <!-- android:process=":remote" -->    
        </service>

       <service
            android:name="net.cattaka.android.humitemp4ble.TelnetSqliteService"
            android:exported="false"
            >
        </service>
        
        <activity android:name="net.cattaka.android.humitemp4ble.GraphActivity" >
        </activity>
        <activity android:name="net.cattaka.android.humitemp4ble.SelectDeviceActivity" >
        </activity>
        <activity android:name="net.cattaka.android.humitemp4ble.SyncActivity" >
        </activity>
    </application>

</manifest>